.sidebar {
  position: fixed;
  left: -230px;
  width: 250px;
  height: 100%;
  background-color: #6b6565;
  color: white;
  transition: left 0.3s;
  padding: 40px;
  top: 0;
}

.sidebar:hover {
  left: 0;
}

.sidebar-title {
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 150px;
  transition: opacity 0.3s ease-in;
}

.sidebar-list {
  list-style: none;
}

.sidebar-list-item {
  text-transform: uppercase;
  transition: 0.3s;
  margin-bottom: 8px;
}

.sidebar-list-item::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid black;
  background-color: #e96e0fdd;
  transform: rotate(135deg);
  margin-right: 15px;
}

.sidebar-list-link {
  color: #fff;
  text-decoration: none;
}

.sidebar-list-item:hover,
.sidebar-list-link:hover {
  color: #e17827dd;
  transition: 0.3s ease;
}
